<body>
  <div class = "postspace">
      <article>
        <h2> About Me </h2>
        <img class = "postpic" src="/calla.jpg" alt = "imageofcalla" height = "35%" />
          A little about moi - I'm apart of ADA's wonderful cohort[1] and a graduate of Emory University. I became interested
          within the tech field my senior year of college, as Emory didn't expose us at the time to any CS related fields, I had no
          idea that there was an opportunity to essentially play with computers and logic. Although, I made my statistics, business background
          esentially do just that. My favorite moments at Emory were when we downloaded Linux on our Macs -- that should have been a sign.
          Before all of this I, of course, had the raddest MySpace page when I was 14, hello CSS & HTML. Well 90's CSS & HTML. I've now become
          more interested within the backend due to my first job which was at a financial consulting company where I esentially worked with databases,
          and our reporting team. From there I knew I was destined to become more tech focused, thats when I went off to Macys.com and realized I needed
          to be working on the back-end. I relocated to Seattle, WA for ADA Developers Academy which I regard as the best descision I've made. Trust me I love ADA and am so glad to be
          apart of this wondrful cohort, learning everything we can in order to complete our capstons and be developers.

          Also tid bits about myself -We can get hashy.
          I love fonuts in Los Angeles, but if there are other fonut places in the world I love those too. Baked donuts!
          Blanket scarfs, and sweaters make me happy.
        </article>
      </div>
  </body>
