<body>
  <div class = "center">
  <div class = "postspace">
    <section>
      <article>
        <h2> About Me </h2>
        <img class = "postpic" src="/calla.jpg" alt = "imageofcalla" height = "35%" />
        <div class = "posttext">

            <div class = "postdate">
             <p>

             </p>
           </div>
 </div>
        </article>
      </section>
    </div>
  </div>
  </body>
