
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Calla Patel</title>






</head>

<!-- <div class="logo"><a href="http://www.songofstyle.com"><img src="http://www.songofstyle.com/wp-content/uploads/2014/03/Logo.png" width="142" height ="35"></a> </div> -->
			<nav class="site-nav" role="navigation">

				<h3 id="menu-toggle">Menu</h3>
				<div class="site-menu">
					<div class="menu-wrap"><ul id="menu-main-navigation" class="menu"><li id="menu-item-8523" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children menu-item-8523"><a href="http://www.songofstyle.com">Categories</a>
<ul class="sub-menu">
	<li id="menu-item-8240" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8240"><a href="http://www.songofstyle.com/category/outfit">Outfit</a></li>
	<li id="menu-item-8249" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8249"><a href="http://www.songofstyle.com/category/travel">Travel</a></li>
	<li id="menu-item-8241" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8241"><a href="http://www.songofstyle.com/category/interior-design">Interior Design</a></li>
	<li id="menu-item-8242" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8242"><a href="http://www.songofstyle.com/category/fashion-week">Fashion Week</a></li>
</ul>
</li>
<li id="menu-item-69" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-69"><a title="http://www.youtube.com/user/songofstyleblog" target="_blank" href="http://www.youtube.com/user/songofstyleblog">Videos</a></li>
<li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61"><a title="Contact Song of Style" href="http://www.songofstyle.com/contact">Contact</a></li>
<li id="menu-item-73" class="menu-item-social menu-item-social-instagram menu-item menu-item-type-custom menu-item-object-custom menu-item-73"><a target="_blank" href="http://instagram.com/songofstyle"><i class="fa fa-instagram fa-lg"></i></a></li>
<li id="menu-item-71" class="menu-item-social menu-item-social-twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-71"><a target="_blank" href="http://twitter.com/aimeesong"><i class="fa fa-twitter fa-lg"></i></a></li>
<li id="menu-item-72" class="menu-item-social menu-item-social-facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-72"><a target="_blank" href="http://www.facebook.com/SongOfStyle"><i class="fa fa-facebook fa-lg"></i></a></li>
<li id="menu-item-74" class="menu-item-social menu-item-social-pinterest menu-item menu-item-type-custom menu-item-object-custom menu-item-74"><a target="_blank" href="http://pinterest.com/songofstyle/"><i class="fa fa-pinterest fa-lg"></i></a></li>
<li id="menu-item-8265" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8265"><a target="_blank" href="http://bloglovin.com/blog/493482/song-of-style"><i class="fa fa-heart fa-lg"></i></a></li>
</ul></div>				</div>

							</nav><!-- .site-nav -->
		</div><!-- .inner -->
	</div><!-- .site-nav-wrap -->
	<div class="wrap">
		<header class="site-header inner" role="banner">
			<!-- <h1 class="site-title fadeDown"><a href="http://www.songofstyle.com" title="Song of Style" rel="home" class="logo-img"><img src="http://www.songofstyle.com/wp-content/uploads/2014/02/SOS_Logo.png" alt="Song of Style" width="163" height="40" /></a></h1> -->

		</header><!-- .site-header -->	<div class="content inner" role="main">



<article id="post-9662" class="post-9662 post type-post status-publish format-standard hentry category-outfit category-songofstyle">

<div class="post-box">

		<div class="entry-title-mobile">
		<h1 class="entry-title"><a href="http://www.songofstyle.com/2014/09/stud-rider-after-diesel-black-gold-in-nyfw.html" title="Permalink to Stud Rider after Diesel Black Gold in NYFW" rel="bookmark">Stud Rider after Diesel Black Gold in NYFW</a></h1>
		</div>

		<div class="entry-content">
			<div class="read-more"><p><a href="http://www.songofstyle.com/wp-content/uploads/2014/09/aimee-song-zimmermann-dress-nyfw.jpg"><a class="image-first" href="http://www.songofstyle.com/2014/09/stud-rider-after-diesel-black-gold-in-nyfw.html"><img class="alignnone size-full wp-image-9666" src="http://www.songofstyle.com/wp-content/uploads/2014/09/aimee-song-zimmermann-dress-nyfw.jpg" alt="aimee-song-zimmermann-dress-nyfw" width="700" height="933" /></a></a></p>
<div class="read-more"> <a href="http://www.songofstyle.com/2014/09/stud-rider-after-diesel-black-gold-in-nyfw.html#more-9662" class="more-link">Read More</a></div>
</div>
		</div>

		<div class="belowpost">


			<header class="entry-header">
						<h1 class="entry-title"><a href="http://www.songofstyle.com/2014/09/stud-rider-after-diesel-black-gold-in-nyfw.html" title="Permalink to Stud Rider after Diesel Black Gold in NYFW" rel="bookmark">Stud Rider after Diesel Black Gold in NYFW</a></h1>
						<div class="entry-meta">
			<time class="published" datetime="2014-09-25T14:38:57+00:00">September 25, 2014</time>
			</div>
			</header>


</article><!-- #post -->								<nav class="paginated-nav posts-nav" role="navigation">
			<h3 class="screen-reader-text">Posts navigation</h3>
			<span class='page-numbers current'>1</span>
<a class='page-numbers' href='http://www.songofstyle.com/page/2'>2</a>
<a class='page-numbers' href='http://www.songofstyle.com/page/3'>3</a>
<span class="page-numbers dots">&hellip;</span>
<a class='page-numbers' href='http://www.songofstyle.com/page/138'>138</a>
<a class="next page-numbers" href="http://www.songofstyle.com/page/2"><i class="icon-arrow-right" aria-hidden="true"></i><span class="screen-reader-text">Next</span></a>		</nav>
					</div><!-- .content -->





</div><!-- .wrap -->
<footer class="site-footer" role="contentinfo">
		<div class="footer-bottom">
		<div class="inner">
			<div class="social-links"><a href="https://www.facebook.com/SongOfStyle" class="socnet-link icon-facebook" title="Facebook"><span class="screen-reader-text">Facebook</span></a><a href="https://twitter.com/aimeesong" class="socnet-link icon-twitter" title="Twitter"><span class="screen-reader-text">Twitter</span></a><a href="http://www.pinterest.com/songofstyle/" class="socnet-link icon-pinterest" title="Pinterest"><span class="screen-reader-text">Pinterest</span></a></div>			<div class="copyright">

			</div>
		</div><!-- .inner -->
	</div><!-- .footer-bottom -->
footer><!-- .site-footer -->








</body>
</html>
