<div class = 'postspace'>
<h1> Contact Calla </h1>



  <form action='/contact' method = 'POST'>
    Name:
    <input type = "test" name = "name " /><br>
    Email:
    <input type = "test" name = "email " /><br>
    Inquiry:
    <input type = "message" name = "message" /> <br>
    <input type = "submit">
  </form>

</div>
