<!-- <div id = "article "> </div> -->
<link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>

<table cellspacing="5" border="0" cellpadding="0">

<tr valign="top" align="left">

<td width="1000"><p>

<center>





<!-- <%=erb ("/posts/gettingartsy").to_sym  %> -->
</br></br>
<%=erb ("/posts/sinatra-is-hard").to_sym  %>








</center>


</p></td>

<td width="1" bgcolor="#707070"><BR></td>

<td width="150" valign="top" align="left">

<p>


  <h3> Read on</h3>
</br>
<center>
  <% @posts.each do |post| %>
      <ul style="list-style-type:circle"><a href = "<%= post.url %>"><%= post.title %></a></ul>
    </br>
  <% end %></p>
</center>


</td>

</tr>

</table>
