<div class = "postspace">
  <!-- SnapWidget -->
  <script src="http://snapwidget.com/js/snapwidget.js"></script>
  <iframe src="http://snapwidget.com/bd/?h=Y2FsbGFnb2VzdG98aW58MjAwfDN8M3x8eWVzfDIwfGZhZGVJbnxvblN0YXJ0fHllc3x5ZXM=&ve=240914"
  title="Instagram Widget" class="snapwidget-widget" allowTransparency="false" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
</div>
