<head>
  <link rel = "stylesheet" href = "/reset.css" type = test/css />
  <link rel = "stylesheet" href = "/format.css" type = test/css />
</head>

<body>
  <div class = 'container'>
  <div class='header'>
    <div class = 'nav'>
      <ul class = "horizontal-list">
        <li><a href="/about-me">About</a></li>
        <li><a href= "/blogs">Blog</a></li>
        <li><a href= "/photos">Photos</a></li>
        <li><a href= "/">Contact</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</div>

    <!-- <ul>
      <li class = "nav"><a href="/"> Home </a></li>
      <li class = "nav"><a href="/about">About</a></li>
      <li class = "nav"><a href="/posts/post1">Posts</a></li
    </ul>
  </div> -->

<!--
<ul><center>
  <li><a href="/"><u>Home</u></a></li>
  <li><a href="#contact"><u>Contact</u></a></li>
  <li><a href="/about-me"><u>About</u></a></li>
</center></ul>
 -->

<%= yield %>

</body>









<hr>









<hr>


| <a href="/"> Home </a> | Contact | <a href= "http://instagram.com/callapat"> Follow Me</a> <a href="http://instagram.com/callapat?ref=badge" class="ig-b- ig-b-16"><img src="//badges.instagram.com/static/images/ig-badge-16.png" alt="Instagram" /></a></i></li>
|<a href = "http://twitter.com/callapatel"> Tweet </a>
