<head>
  <link rel = "stylesheet" href = "/style.css" type = test/css />
  <script src = "/app.js"></script>
<body>
  <div class=".Navigation">
    <center>
      <a href="http://s28.photobucket.com/user/bosskayla/media/bannger_zpsc05c0c93.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c222/bosskayla/bannger_zpsc05c0c93.jpg" border="0" alt=" photo bannger_zpsc05c0c93.jpg" height="200" width="800"/></a>
<a href="http://s28.photobucket.com/user/bosskayla/media/c44acf77-08e0-4ad6-819e-d229ed4e7fe0_zps0a4fcfb5.jpg.html" target="_blank"><img src="http://i28.photobucket.com/albums/c222/bosskayla/c44acf77-08e0-4ad6-819e-d229ed4e7fe0_zps0a4fcfb5.jpg" border="0" alt=" photo c44acf77-08e0-4ad6-819e-d229ed4e7fe0_zps0a4fcfb5.jpg"/></a>  </center>
    <ul>
      <li class = "nav"><a href="/"> Home </a></li>
      <li class = "nav"><a href="/about">About</a></li>
      <li class = "nav"><a href="/posts/post1">Posts</a></li
    </ul>
  </div>


<ul><center>
  <li><a href="/"><u>Home</u></a></li>
  <li><a href="#contact"><u>Contact</u></a></li>
  <li><a href="/about-me"><u>About</u></a></li>
</center></ul>




</body>






</head>



<hr>




<!-- <div id = "article ">

  here is my info






<%= yield %> >

</div> -->

<hr>
| <a href="/"> Home </a> | <a href="/about-me">About </a> | <a href="/photos">Photos </a> | <a href="/tweettweet">Twitter Feed </a>
</body>

<li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61"><a title="|Contact Calla|" href="callapatel@gmail.com">Contact</a></li>
<li id="menu-item-73" class="insta"><style>.ig-b- { display: inline-block; }
.ig-b-16 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-16@2x.png); background-size: 60px 178px; } }</style>
<a href="http://instagram.com/callapat?ref=badge" class="ig-b- ig-b-16"><img src="//badges.instagram.com/static/images/ig-badge-16.png" alt="Instagram" /></a></i></li>
