<link rel = "stylesheet" href = "/style.css" type = test/css />

</li>






<hr>

<body>

<%= yield %>

<hr>
| <a href="/"> Home </a> | <a href="/about-me">About </a> | <a href="/photos">Photos </a> | <a href="/tweettweet">Twitter Feed </a>
</body>
