
@font-face {
  font-family: 'entypo';
  font-weight: normal;
  font-style: normal;
}

html,
textarea {
  font-family: 'Open Sans', sans-serif;

}

body {
  color: #777;
  /*margin-right: 300px;
  margin-left: 300px;*/
  font-size: 0.8em;
  line-height: 23px;
  font-weight: 500;
  word-spacing: 1px;

}

.brand {
    margin: 150px;



}

a {
  color: #e57163;
  font-weight: 800;
  text-decoration: none;

}

.header {
  display: inline-block;
  font-size: 0.8em;
  /* background-color: red; */
}

.nav {
  display: inline-block;
  position: fixed;
  opacity: 0.4;
  background: grey;
  width: 100%;
  /*float: right;*/
  /* background-color: green; */
}

.container {
  width: 100%; 
  margin: auto;

}

.nav a{
  text-decoration: none;
  color: pink;

}

.horizontal-list {
  padding: 0;
  margin: 20px 200px;


}


.horizontal-list li {
  font-weight: bold;
  text-decoration: underline;
  font-size: 12;
  display: inline-block;
  padding: 0;
  margin: 20px 80px;
  height: 20px;
  word-spacing: 800px;

}

.postspace{
  margin: 150px;

}

titles{
  font-weight: bold;
  font-size: 200%;
  color: black;

}
