
@font-face {
  font-family: 'entypo';
  font-weight: normal;
  font-style: normal;
}

html,
textarea {
  font-family: 'Open Sans', sans-serif;

}

body {
  color: #777;
  margin: 0;
  padding: 0;
  /*margin-right: 300px;
  margin-left: 300px;*/
  font-size: 0.8em;
  line-height: 23px;
  font-weight: 500;
  word-spacing: 1px;

}

.brand {
    margin: 150px;
    /*height: 50;
    width: 170;*/

}

a {
  color: #e57163;
  font-weight: 800;
  text-decoration: none;

}

.header {
  display: inline-block;
  font-size: 0.8em;
  /* background-color: red; */
}

.nav {
  display: inline-block;
  position: fixed;
  opacity: 0.4;
  background: grey;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  /*float: right;*/
  /* background-color: green; */
}

.container {
  width: 100%;
  margin: auto;
  display: flex;

}

.nav a{
  text-decoration: none;
  color: pink;

}

.horizontal-list {
  padding: 0;
  margin: 20px 300px;


}

.point{
  margin-left: 100px;

}

.horizontal-list a {
  padding-left: 5%;
  padding-right: 5%;
  width: 1045px;

}

.horizontal-list li {
  font-weight: bold;
  text-decoration: underline;
  font-size: 20;
  display: inline-block;
  padding: 0;
  padding-left: 0;
  /*margin: 20px 80px;*/
  height: 20px;
  /*word-spacing: 800px;*/
  position: relative;

}

.postspace{
  margin: 150px;

}

titles{
  font-weight: bold;
  font-size: 200%;
  color: black;

}

.dropdown {
  display: none;
  position: absolute;
  /*background-color: green;*/
  padding-left: 70%;
  /*margin: 0 400px 500px 20px;*/
}


blog > .dropdown {
  display: block;
  /*margin: 0 60px 200px;*/
  padding: 100px;

}





















/* lalalalla */
article{
  text-align: justify;
  line-height: 145%;
  margin: auto 17%;
}

h2{
  color: grey;
  text-emphasis: none;
  padding-bottom: 2%;
}

.postpic{
  float: left;
  padding-right: 7%;
  padding-bottom: 5%;
}
