











@font-face {
  font-family: 'entypo';
  font-weight: normal;
  font-style: normal;
}

html,
textarea {
  font-family: 'Open Sans', sans-serif;

}

body {
  color: #777;
  margin-right: 300px;
  margin-left: 300px;
  font-size: 0.8em;
  line-height: 23px;
  font-weight: 500;
  word-spacing: 1px;

}

a {
  color: #e57163;
  font-weight: 800;
  text-decoration: none;
  -webkit-transition:	all 0.3s;
  -moz-transition:	all 0.3s;
  transition:			all 0.3s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 0 5px 0 0;
}

li {
    display: inline;
}

article {
  border-left: 1px solid #dddddd;
  height: 100%;
  padding-left: 23px;
}
